body{
  background-color: rgb(134, 190, 190);
  margin: 0;
  padding: 0;
  color: white;
}

.wrapper{
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  'h h'
  'n p';
  gap: 10px;
  grid-template-columns: 2fr 10fr;
}

.wrapper > div{
  background-color:rgb(41, 103, 103);
  border-radius: 30px;
}

.header{
  grid-area: h;
  
}

.navbar{
  grid-area: n;
}

.profile{
  grid-area: p;
}
